@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
:root {
    --primary-color: #051330;
    --secundary-color: #F5A900;
    --aux-color: #B58B2D ;
    --text-color: #fcffd7;
    --complement-color: #3559A0;
    --primary-font:"Orbitron", sans-serif; 
    --secondary-font: "Montserrat", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;


}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.header {
    display: flex;
    text-align: center;
    color: var(--secundary-color);
    font-family: var(--primary-font);
    margin: 1.5rem ;
    justify-content: center;
    font-size: 2rem;
}

.container-contenido {
    display: flex;
    justify-content: center;
    width: 114.8rem;
    min-height: 78.4rem;
    margin: auto;
    gap: 8rem;
    
}

.container-contenido-input {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 68.8rem;
    height: 60rem;
    
}

.contenido-input-text {
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    resize: none;
    padding: 1.2rem;
    height: 49.2rem;
    background-color: var(--primary-color);
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.8);
    border: var(--secundary-color) 0.2rem solid;
    border-radius: 2.4rem;
}

.contenido-input-text::placeholder {
    color:var(--text-color);
    opacity: 0.6;
}

.contenido-input-text:focus {
    outline: var(--secundary-color) 0.2rem solid;
    box-shadow: 0rem 0rem 5rem rgba(0, 123, 255, 0.5);
}

.container-input-advertencia{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--aux-color);
    font-size: 1.4rem;
}

.contenido-input-buttons {
    display: flex;
    justify-content: space-between;
    
}

.contenido-input-button {
    
    background-color: var(--secundary-color);
    width: 32.8rem;
    padding: 2.4rem;
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2.4rem;
    color: var(--primary-color);
}

.contenido-input-button:hover {
    background-color: var(--aux-color);
    cursor: pointer;
    transform: scale(1.1);
}

.container-contenido-output {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(245, 169, 0, 0.5), rgba(245, 169, 0, 0.5)), url('./assets/background-encrypt.webp');
    background-size: cover;
    background-position: center;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.8);
    gap: 4rem;
    width: 40rem;
    height: 64rem;
    border-radius: 2.4rem;

}

.content {
    border: var(--secundary-color) 0.2rem solid;
    box-shadow: 0rem 0rem 5rem rgba(0, 123, 255, 0.5);
}


.contenido-output-text {
    width: 100%;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 500;
    resize: none;
    padding: 1.2rem;
    height: 49.2rem;
    background-color: transparent;
    border: none;
    border-radius: 2.4rem;
    outline: none;
}

.contenido-output-text::placeholder {
    color: var(--primary-color);
    opacity: 0.7;
}

.contenido-output-img {
    position: absolute;
    width: 36rem;
    bottom: 25%;
    transition: opacity 1s ease-in-out;
}

.hidden {
    opacity: 0;
}



.contenido-output-button {
    display: none;
    
    background-color: var(--primary-color);
    width: 32.8rem;
    padding: 2.4rem;
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2.4rem;
    color: var(--secundary-color);
}

.is-active {
    display: block;
}

.contenido-output-button:hover {
    background-color: var(--complement-color);
    cursor: pointer;
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--text-color);
    padding-bottom: 1rem;
}
.footer-title {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 400;
}

.footer-title > strong {
    color: var(--secundary-color);
}

.footer-link {
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--aux-color);
    transform: scale(1.1);
}


@media (max-width:1200px) {
    .container-contenido {
        flex-direction: column;
        align-items: center;
        width: 68.8rem;
        
    }
    .container-contenido-output {
        width: 68rem;
    }
}


@media (max-width:600px) {
    .container-contenido {
        width: 34.3rem;
    }
}